
<div class="myTitle card mt-3 p-0">
  <div class="card-header">
    <div class="d-flex p-0 m-0">
      <div class="d-flex align-items-center me-auto">
        <i class="{{iconClass}}"></i>
        <div class="d-flex">
          <h4>{{titulo}}</h4>
        </div>
      </div>
      <div class="p-0" *ngIf="botaoListar">
        <button type="button" class="btn btn-primary" (click)="listar()">
          Listar {{titulo}}
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="card mt-1 p-1 mb-1">
      <h3>{{acao}} {{titulo}}</h3>
    </div>
  </div>
</div>
