* {
  font-size: 1em;
  color: white;
}
.myFilter {

}

.myThead {
   background-color: rgba(9, 13, 68, 0.9);
}
.input-group-text {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

li a {
  color: black;
  text-decoration: none;
}
