<nav class="navbar  navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <div class="row " >
      <a class="navbar-brand" routerLink='home'>
        <div ngClass="d-flex justify-content-center align-items-center">
          <i class="fas fa-home"></i>
        </div>
        <div ngClass="d-flex justify-content-center align-items-center">
          J.I.T. Home
        </div>
      </a>
    </div>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarColor01"
      [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav me-auto mb-0 mg-lg-0">
        <li>
          <a  [ngClass]="[disableMenu() ? 'nav-link disabled' : 'nav-link ']"
              routerLink="produto" routerLinkActive="active">Produto
          </a>
        <li class="nav-item">
          <a  [ngClass]="[disableMenu() ? 'nav-link disabled' : 'nav-link ']"
              routerLink="estoque" routerLinkActive="active">Estoque
          </a>
        </li>
        <li class="nav-item">
          <a [ngClass]="[disableMenu() ? 'nav-link disabled' : 'nav-link ']"
              routerLink="fornecedor" routerLinkActive="active">Fornecedor</a>
        </li>
        <li class="nav-item">
           <a [ngClass]="[disableMenu() ? 'nav-link disabled' : 'nav-link ']"
           routerLink="precos" routerLinkActive="active">Preços
           </a>
        </li>
        <li>
          <a [ngClass]="[disableMenu() ? 'nav-link disabled' : 'nav-link ']"
          routerLink="movimento" routerLinkActive="active">Movimentação de Produtos
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-bs-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            [ngClass]="[disableMenu() ? 'nav-link dropdown-toggle disabled' : 'nav-link dropdown-toggle']"
          >
            Vinicius
          </a>
          <div *dropdownMenu
              class="dropdown-menu"
              aria-labelledby="navbarDropdownMenuLink">
            <a Class="dropdown-item"
              routerLink='/user/perfil'
              routerLinkActive="active"
              [ngClass]="[disableMenu() ? 'dropdown-item disabled' : 'dropdown-item']">
              <i class="fas fa-user"></i>
              Perfil
            </a>
            <a Class="dropdown-item"
              routerLink='/user/cadastro'
              routerLinkActive="active"
              [ngClass]="[disableMenu() ? 'dropdown-item disabled' : 'dropdown-item ']">
              <i class="fas fa-users"></i>
              Cadastro
            </a>
            <hr>
            <a (click)="logout()" class="dropdown-item">
              <i class="fas fa-sign-out-alt"></i>
              Sair
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
