* {
  padding: .1em;
}
.navbar-brand, .navbar-brand i {
  color: white;
  text-shadow: #0a0af8 1.5px 1.5px;
  display: inline-block;
  text-decoration: none;
  text-align: right;
}
.navbar-brand i {
  font-size: 1.3em;
}
.navbar-brand {
  font-size: 1em;
}
li a {
  font-size: 1.1em;
}
